<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1" />
    <meta name="format-detection" content="telphone=no" />
    <meta name="format-detection" content="email=no" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta http-equiv="Cache" content="no-cache" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
    <div class="play-box clearfix warp">
        <div class="video-box">
            <video width="100%" height="auto" controls src="http://game.gtimg.cn/images/game/act/a20160603wow/wow1.mp4"></video>
        </div>
        <div class="info">
            <h3><%= data.name %></h3>
            <p class="author"><%= data.author %></p>
            <p class="desc"><%= data.info %></p>
            <p class="time"><%= data.time %></p>
        </div>
    </div>


    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</body>
</html>